<h2>GIDEON MURIITHI
    <br>
    <a href="mailto:gideongakenge@gmail.com?subject = Feedback&body = Message"
    target="_blank">
    <footer id="footer"><span><i class="fa fa-paper-plane" aria-hidden="true"></i></span> Contact Me</footer>
</a>
</h2>

<p class="components-content">
    I am a software engineer(Web and mobile applications) passionate about solving problems through technology.
    What drives me the most is the urge within me to be in a better position to develop products that matter
    as far as problems solving is concerned. My biggest dream is to be in a position to develop
    products that will be the next big things in the world and that make the world a better place. I have worked on
    different products
    using various technologies including django, django rest, flask, android among others.
</p>