<div class="components cert">
    <h2>CERTIFICATIONS</h2>
    <div class="cert-content">
        <span class="components-content">
            <img src="assets/images/cert-icon.png" alt="Cert" class="cert-img">
            Bachelor of Business Information Technology - Jomo Kenyatta University of Agriculture And Technology(JKUAT)
        </span>
    </div>

    <div class="cert-content">
        <span class="components-content">
            <img src="assets/images/cert-icon.png" alt="Cert" class="cert-img">
            Full Stack Web Development - Moringa School
        </span>
    </div>
    <div class="cert-content">
        <span class="components-content">
            <img src="assets/images/cert-icon.png" alt="Cert" class="cert-img">
            Azure Fundamentals - Microsoft
        </span>
    </div>
    <div class="cert-content">
        <span class="components-content">
            <img src="assets/images/cert-icon.png" alt="Cert" class="cert-img">
            Learn Complete Python In Simple Way - Udemy
        </span>
    </div>
    <div class="cert-content">
        <span class="components-content">
            <img src="assets/images/cert-icon.png" alt="Cert" class="cert-img">
            Android Development - eMobilis Mobile Technology Institute and Inter-Council Universities
            of East Africa
        </span>
    </div>
</div>