<div class="components">
    <h2>LATEST PROJECTS</h2>

    <h3>1. EDGE</h3>
    <h3 class="heading3">Overview</h3>
    <p class="components-content">Edge is a web application platform which Sanlam Investments uses for daily management
        of the
        clients assets. In addition to that, the platform also shows positions of different
        clients assets including shares, deposits, government's treasury bills and treasury bonds.
        The platform also facilitates buying of shares and connects clients portfolio managers with
        the dealers who executes trades in the market, that is, buying of assets such as equities. Due to the sensitive
        nature of the information on the application, it is not possible to share the different views
        of the application. The login page is shown below however.
    </p>
    <img src="assets/images/login.png" alt="" class="center">

    <h3 class="mt-4">2. BIRD OF PARADISE</h3>
    <h3 class="heading3">Overview</h3>
    <p class="components-content">
        This is a flower shopping web application that allows clients to visualize and pick colours then proceed to
        collect information
        on their style or mood, then matches the client’s data to the collection of flowers in the application's
        database and provide them images of
        flowers to choose from. A client can then select a flower from the filtered response that matched their choice
        of color and style, add it to cart and
        finally checkout with complete payment and await delivery.
    </p>
    <a href="https://birdofparadise.netlify.app/" target="_blank">
        View Bird Of Paradise
    </a>


    <h3 class="mt-4">3. INSTAGRAM CLONE</h3>
    <h3 class="heading3">Overview</h3>
    <p class="components-content">
        This is simple django project developed as a weekly project at Moringa School. It is a
        clone of Instagram developed for the purpose of applying knowledge acquired.</p>
    <a href="https://graminsta-clone.herokuapp.com/" target="_blank">
        View Instagram Clone
    </a>


    <h3 class="mt-4">4. COMMUTER</h3>
    <h3 class="heading3">Overview</h3>
    <p class="components-content">
        This is a MVP developed during android's bootcamp at eMobilis. It is android app whose purpose is to connect the
        public transport sector with the commuters so as to
        reduce time wastage especially during rush hours. By acting as an intermediary between the transport sector and
        the commuters,
        the platform helps the drivers and touts of the public transport vehicles to locate bus stops that require their
        urgent attention.
    </p>
    <div class="video">
        <iframe id="iframe" height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
        <p>Application Demo</p>
    </div>
<p>
    <a href="assets/apks/commuter-debug.apk">
        <i class="fas fa-download" aria-hidden="true"></i>
        Download APK
    </a>
</p>


<h3 class="mt-4">4. RESTAURANTS FINDER</h3>
    <h3 class="heading3">Overview</h3>
    <p class="components-content">
        This is a small application for finding restaurants. The application uses yelp API 
        to fetch different restaurants. The application was developed for learning purposes during 
        Google Africa Developer Scholarship 2020.
    </p>
    <div class="video">
        <iframe id="iframe" height="315" [src]='safeURL2' frameborder="0" allowfullscreen></iframe>
        <p>Application Demo</p>
    </div>
<p>
    <a href="assets/apks/restaurant-debug.apk">
        <i class="fas fa-download" aria-hidden="true"></i>
        Download APK
    </a>
</p>
   
</div>