<div class="components">
    <h2>INTERESTS</h2>
    <p class="components-content">
        I enjoy nature walks. The beautiful sceneries created by nature tend to calm my nerves
        in a big way. For indoors activities, I love playing the guitar and singing. I am very passionate
        about music, gospel music that is. I also love reading. When I am not busy with work or something else I am
        always reading enlighting novels or articles. I also watch educative documentaries and any
        genre of movies that have good stories.
    </p>
</div>