<div class="components">
    <h2>SKILLS</h2>
    <div class="components-content">
        <div class="row">
            <div class=" col-md-8 skills-content">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>JavaScript</p><span class="bar">70%<span class="javascript"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>AngularJS</p><span class="bar">65%<span class="angular"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>CSS5</p><span class="bar">80%<span class="css"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Python</p><span class="bar">75%<span class="python"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Flask</p><span class="bar">55%<span class="flask"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Django REST</p><span class="bar">75%<span class="django"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Postgresql</p><span class="bar">65%<span class="psql"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Java</p><span class="bar">55%<span class="java"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>


        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Android</p><span class="bar">58%<span class="android"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Typescript</p><span class="bar">60%<span class="ts"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Git</p><span class="bar">70%<span class="git"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class=" col-md-8 skills-content mt-5">
                <!-- <img src="assets/images/javascript.png" alt="JavaScript" class="mt-3" id="js-img">
                <p>JavaScript</p> -->
                <p>Microsoft Azure</p><span class="bar">50%<span class="msazure"></span></span>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
</div>