<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar nav2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gideon Muriithi</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">

            <ul class="navbar-nav smooth-scroll">
                <li class="list-item">
                    <a href="#about" class="item">
                        <img class="img-fluid rounded-circle mx-auto mb-2 mt-2 image"
                            src="assets/images/profile.jpg" alt="Picture">
                        <p class="list-item white-text">About</p>
                    </a>
                </li>
                <li class="list-item">
                    <a class="nav-link white-text" href="#interests">Interests</a>

                </li>

                <li class="list-item">
                    <a class="nav-link white-text" href="#skills">Skills</a>

                </li>

                <li class="list-item">
                    <a class="nav-link white-text" href="#projects">Projects</a>

                </li>

                 <li class="list-item">
                    <a class="nav-link white-text" href="#achievements">Achievements</a>

                </li>

                <li class="list-item">
                    <a class="nav-link white-text" href="#certifications">Certifications</a>

                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="row">
    <div class="col-md-3 row-nav">
        <nav class="div-nav navbar navbar-expand-md navbar-dark fixed-top display">
            <div>
                <div class="sidebar">
                    <a href="#about" class="item">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2 mt-5"
                            src="assets/images/profile.jpg" alt="Picture">
                        <p class="list-item">ABOUT</p>
                    </a>

                    <a href="#interests">
                        <p class="list-item">INTERESTS</p>
                    </a>

                    <a href="#skills">
                        <p class="list-item">SKILLS</p>
                    </a>

                    <a href="#projects">
                        <p class="list-item">PROJECTS</p>

                    </a>

                    <a href="#achievements">
                        <p class="list-item">ACHIEVEMENTS</p>
                    </a>

                    <a href="#certifications">
                        <p class="list-item">CERTIFICATIONS</p>
                    </a>
                </div>
            </div>

        </nav>
    </div>

    <div class="col-md-9 mt-1 column-2">
        <div class="ml-0">
            <div class="content">
                <app-about id="about" class="item"></app-about>
                <hr>
                <app-interests id="interests"></app-interests>
                <hr>

                <app-skills id="skills"></app-skills>
                <hr>

                <app-projects id="projects"></app-projects>
                <hr>

                <app-achievements id="achievements"></app-achievements>
                <hr>

                <app-certifications id="certifications"></app-certifications>
                <hr class="mt-5">
                <footer class="page-footer font-large pt-2 footer">
                    <div class="container">
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item" id="fb">
                                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/MuriithiG/" target="_blank">
                                    <i class="fab fa-facebook-f fb black-text" aria-hidden="true"><span class="facebookText">
                                            Facebook
                                        </span></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-tw mx-1" href="https://twitter.com/Mureithi_Gideon" target="_blank">
                                    <i class="fab fa-twitter black-text" aria-hidden="true"><span class="twitter">
                                            Twitter
                                        </span> </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-gplus mx-1" href="mailto:gideongakenge@gmail.com?subject = Feedback&body = Message" target="_blank">
                                    <i class="fab fa-google black-text" aria-hidden="true"><span class="mail">
                                            Mail
                                        </span> </i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/gideon-muriithi-2433b9118/" target="_blank">
                                    <i class="fab fa-linkedin-in black-text" aria-hidden="true"> <span class="linkedin">
                                            LinkedIn
                                        </span></i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a class="btn-floating btn-file mx-1" href="assets/Gideon-Gakenge.pdf" download>
                                    <i class="fas fa-download black-text" aria-hidden="true">
                                        <span class="resume">
                                            Resume
                                        </span>
                                    </i>
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a class="btn-floating btn-file mx-1" href="https://github.com/Gideon-Muriithi" target="_blank">
                                    <i class="fab fa-github black-text" aria-hidden="true">
                                        <span class="github">
                                            Github
                                        </span>
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center py-2 footer">© 2021 Copyright |
                        <a class="footer">Gideon Muriithi</a>
                    </div>
                </footer>
            </div>
        </div>

    </div>

</div>