<div class="components">
    <h2>ACHIEVEMENTS</h2>

    <ul class="components-content">
         <li>
            Worked as a back-end developer for a web application that is used for daily management of clients'
            assets at Sanlam Investment East Africa Limited(SIEL).
        </li>
        <li>
            Successfully completed a month long android bootcamp at eMobilis from Janaury to February 2021.
        </li>
         <li>
            Successfully completed Microsoft azure fundamentals course offered by Microsoft in partnership with Andela from March to June 2020.
        </li>
        <li>
            Successfully completed over 100 hours of Learn Complete Python In Simple Way Udemy course from June 2019 to January 2020.
        </li>
        <li>
            Participated in Andela Learning Community
            (ALC) with Google version 4.0 from
            June 2019 to October 2019 (Mobile Web track).
        </li>
        <li>
            Google Africa Developer 2020 Scholar
            (Associate Android Developer).
        </li>
        <li>
            EFAC Scholar, Leadership and Change Maker Fellow from January 2011 to October 2019.
    
        </li>
    </ul>

</div>